.c-chat-component {
  
  .c-chat-head {
    background-color: $light-gray3;
    border-bottom: $light-gray2;
    display: flex;
    padding: 8px 12px;

    .c-chat-contact-avatar-container {
      height: 40px;
      margin-right: 8px;

      .c-chat-contact-avatar {
        border: 2px solid $light-gray1;
        border-radius: 50%;
        height: 36px;
        width: 36px;
      }
    }
    
    .c-chat-head-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .c-chat-contact-name {
        font-size: 16px;
        font-weight: 500;
      }
      
      .c-chat-contact-status {
        font-size: 12px;
      }
    }
  }
}